body {
    background-color: #d9dcd6
}

nav ul, ul {
    list-style-type: none
}

h2 {
    font-size: 2rem
}

a, header {
    color: #fff
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 5.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #2a607c
}

/* Make the letters SEO within the logo a darker shade of white */

.seo {
    color: #d9dcd6
}

header h1 {
    font-size: 3rem
}

/* By setting the flex direction to row reverse, this automatically positions the nav bar to the right */

header li {
    flex-direction: row-reverse;
    margin: 20px;
    align-content: center;
    font-size: 1.1rem
}

header h1, nav {
    align-self: center
}

nav ul {
    display: flex
}

/* The Alt property is not recognised by Chrome, and hence picture is not accessible :( */

/* See README for more */

/* Update: solved this issue by using the object-fit property, instead of applying a background-image */

/* .hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/digital-marketing-meeting.jpg);
    alt: "A group of people are sitting around a table working on a problem";
    background-size: cover;
    background-position: center
} */

.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

.article-item, .aside-item, footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff
}

/* Margin bottom has been added to push the boxes apart, however this means the container no longer sits flush with the aside container */

/* Firefox has a Flexbox property called "gap", but this isn't supported by Chrome */

.article-item {
    background-color: #0072bb;
    display: flex;
    flex-direction: row;
    padding: 3rem 2rem;
    margin-bottom: 1rem
}

.article-container, .aside-item {
    display: flex;
    flex-direction: column
}

.aside-item {
    padding: 0 1rem;
    justify-content: start;
    margin: 2rem 1rem
}

.article-container {
    flex: 4;
    justify-content: space-between;
    margin: 1rem
}

/* Stacks the image on top of the text within the article items, which makes the site more responsive */

@media only screen and (max-width:800px) {
    .article-item {
        flex-wrap: wrap
    }
    .article-item img {
        justify-content: center
    }
    #online-reputation-management .copy {
        order: 2
    }
}

.aside-container {
    display: flex;
    flex-direction: column;
    background-color: #2589bd;
    flex: 1;
    margin: 1rem;
    justify-content: start
}

.article-item img {
    max-height: 200px;
    margin: 0 1rem;
    align-self: center
}

.main-content {
    display: flex
}

.aside-item img {
    height: 150px;
    width: 150px;
    margin: auto
}

.aside-item h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0
}

.article-item p {
    font-size: 1.4rem;
    margin-top: 0
}

.aside-item p {
    font-size: 1.2rem
}

footer {
    color: #000;
    font-size: 1rem;
    text-align: center
}

body, footer h2, footer h3, footer p, ul {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}